@charset "UTF-8";

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --cor-principal:rgb(0, 163, 95);
}

*{
    font-family: Inter, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main{
    height: 100vh;
    width: 100vw;
}
div#principal{
    position: relative;
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: rgba(0, 0, 255, 0.219);
    margin: 150px auto;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.384);
    
}
/* INÍCIO DA ÁREA ESQUERDA */
div.quadrado-esquerdo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
p#entrar-com{
    font-size: 4em;
    text-align: center;
}
div.imagens-redes-sociais{
    display: flex;
    justify-content: center;
    gap: 30px;
}
div.imagens-redes-sociais > div.botoes-redes-sociais{
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    width:50px;
    height:50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.459);
    cursor: pointer;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.imagens-redes-sociais > div.botoes-redes-sociais > img{
    width: 50%;
    height: 50%;
}
div.imagens-redes-sociais > div.botoes-redes-sociais:hover{
    transform: translateY(-7px);
    transition-duration: 0.4s;
    background-color: var(--cor-principal);
}
div.imagens-redes-sociais > div.botoes-redes-sociais:hover img{
    filter: invert(150%);
}
div.imagens-redes-sociais > img{
    transform: scale(0.8);
}
div.imagens-redes-sociais > img{
    margin: 0px 13px;
}
p#opcao-conta{
    text-align: center;
}
div#login-e-senha-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
div#login-e-senha-container input{
    width: 350px;
    height: 40px;
    border: none;
    background-color: #f1f1f1;
}
div#login-e-senha-container input::placeholder{
    text-indent: 25px;
    letter-spacing: -1px;
    font-size: 1.1em;
}
p#esqueceu-senha{
    text-align: center;
}
div#botao-logar-container{
    display: flex;
    justify-content: center;
}
button#botao-logar{
    background-color: transparent;
    border: 2px solid var(--cor-principal);
    padding: 13px 80px;
    border-radius: 50px;
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: 0.4s;
    cursor: pointer;
}
button#botao-logar:hover{
    background-color: var(--cor-principal);
    color: white;
    transition-duration: 0.4s;
}
/* FIM DA ÁREA ESQUERDA */
/* INÍCIO DA ÁREA DIREITA */
div.quadrado-direito{
    background-color: var(--cor-principal);
    width: 100%;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
}
p#ola-aluno{
    font-size: 4em;
    text-align: center;
    color:white;
}
p#cadastre-se{
    text-align: center;
    color:white;
    width: 70%;
}
div#botao-cadastrar-container{
    display: flex;
    justify-content: center;
}
button#botao-cadastrar{
    background-color: transparent;
    border: 2px solid white;
    padding: 13px 80px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition-duration: 0.4s;
    cursor: pointer;
}
button#botao-cadastrar:hover{
    background-color: white;
    color: var(--cor-principal);
    transition-duration: 0.4s;
}
/* FIM DA ÁREA DIREITA */